{{ define "main" -}}
<main class="main layout__main">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
        <ul>
            {{ range .Pages}}
            <li class="slide-list">
                <div>
                    <span class="side-list__date">{{ .Date.Format "06 Jan 2006" }}</span>
                    <span class="side-list__separator"> > </span>
                    <a class="side-list__link" href="{{ .Permalink }}" target="blank">{{.Title}}</a>
                </div>
                {{ with .Params.event_name }}
                <div class="side-list__event-name">
                    <span>{{ . }}</span>
                </div>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}