// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

.slide-list{
    list-style-type: none;
    line-height: 2rem;
    border-bottom: 1px dashed;

    .side-list__date {
        display: inline-block;
        width: 6rem;
    }

    .side-list__event-name {
        display: flex;
        flex-direction: row-reverse;
    }
}