// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

// MAIN

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
.header__social-links {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.social_link {
    margin: 0 .5rem 0 .5rem;
}

.page-content {
    display: grid;
    grid-gap: 1.5rem;
    padding: 1rem;
    max-width: $max-content-width;
    margin: 0 auto;

    @include respond-to(s) {
        grid-template-columns: repeat(2, 1fr);
    }
}
 article.list-view > div.content {
    text-align: justify;
}

.no-underline {
    text-decoration: none;
}

.card {
    display: flex;
    padding: 1rem;
    height: 250px;
    // width: 100%;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: $grey-light;
    transition: background-color 1s ease-out;
    &:hover, &:focus  {
      background: lighten($grey-light, 10%);
    }

    &__title {
        // color: $text;
        text-transform: uppercase;
        color: $grey-extra-light;
        text-shadow: 2px 2px $brand;
        font-family: $futura;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.2;
    }
}

// SLIDES

.slide-list {
    padding: 0rem;

    .slide-item {
        list-style-type: none;
        line-height: 2rem;
        border-bottom: 1px $grey-light solid;
        padding: 0rem;

        &__date {
            display: inline-block;
            width: 6rem;
        }

        &__separator {
            content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>');;
        }
        &__event-name {
            text-align: right;
        }
    }
}
