// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

// MAIN

header.header {
  margin: auto;
  .header__site-name {
    font-size: 1.8rem;
  }

  @include respond-to(s) {
    text-align: center;
  }
}

h2.main__header {
  text-align: center;
  margin-bottom: 2rem;
}

#hire-me {
  background-color: darkred;
}

.footer .social_link {
  text-decoration: none;
}

.about-me {
  figure {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      filter: drop-shadow(12px 12px 16px black) contrast(50%);
      -webkit-filter: drop-shadow(12px 12px 16px black) contrast(50%);
      border-radius: 2rem;
      margin: auto;
    }
  }

  p {
    margin-top: 0;
    text-align: justify;
  }

  ul {
    padding-left: 0px;
    list-style-type: '\2713 ';

    li {
      padding-left: .3rem;
      text-align: left;
    }
  }

  a[title='hire me'] {
    font-weight: 800;
    padding: 0.2rem 1rem 0.3rem 1rem;
    text-transform: uppercase;
  }
  a {
    color: $grey-dark;
    background-color: $grey-extra-light;
    border-radius: 0.8rem;
    font-weight: 600;
    padding: 0.2rem 0.6rem 0.3rem 0.6rem;
    white-space: nowrap;
    transition: background-color 0.7s ease-out, border-radius 0.3s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      border-radius: 0.4rem;
      background: lighten($grey-extra-light, 10%);
    }

    i:after {
      content: '\21F1';
      transform: rotate(90deg);
      position: absolute;
      font-size: small;
    }
  }
}

.page-content,
.about-me {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  padding: 1rem;
  max-width: $max-content-width;
  margin: 0 auto;

  @include respond-to(s) {
    grid-template-columns: repeat(2, 1fr);
  }
}
article.list-view > div.content {
  text-align: justify;
}

.no-underline {
  text-decoration: none;
}

// SLIDES

.slide-list {
  padding: 0rem;

  .slide-item {
    list-style-type: none;
    line-height: 2rem;
    border-bottom: 1px $grey-light solid;
    padding: 0rem;

    &__date {
      display: inline-block;
      width: 6rem;
    }

    &__separator {
      content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>');
    }
    &__event-name {
      text-align: right;
    }
  }
}

// TALKS
.talk-list{
  list-style: none;
  padding-left: 0px;

  .talk-item{
    display: grid;
    grid-template-areas: 
      "link event-name date"
      "summary summary summary "
      " .  .  slides "
      " divid  divid divid"
      ;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    .divider-hr-small{
      grid-area: divid;
    }
    .talk-item__link {
      grid-area: link;
    }
    .talk-item__event-name {
      text-align: center;
      grid-area: event-name;
    }
    .talk-item__date{
      text-align: right;
      grid-area: date;
    }
    .talk-item__summary{
      grid-area: summary;
    }
    .talk-item__slides{
      text-align: right;
      grid-area: slides;
    }
  }

}

.talk-item {
  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

// TableOfContents

nav#TableOfContents {
  ul {
    list-style: none;
    ul {
      list-style-type: '> ';
      padding: 5px 0 5px 18px;
    }
    ul > li {
      margin-left: 10px;
    }
  }
}

// Divider (<hr>)
.divider-hr {
  position: relative;
  margin: 4rem 0 4rem 0;
  height: 1px;
}
.divider-hr-small {
  position: relative;
  margin: 2rem 0 2rem 0;
  height: 1px;
}
.divider-hr-transparent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, $text, transparent);
}

.divider-hr-transparent-small:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, $text, transparent);
}
.divider-hr-stop:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: $body-bg;
  border-left: 1px solid $text;
  border-right: 1px solid $text;
}

.divider-hr-dot:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: $grey-dark;
  border: 1px solid $text;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px $body-bg, 0 0 0 4px $body-bg;
}

// single class

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.grayscale {
  filter: grayscale(1);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0; /* make things invisible upon start */
  animation: fadeIn ease-in 0.7s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}


// TOOGLE DARK MODE

#dark-mode-toggle {
  position: fixed;
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
a.dark{
  color: gold;
}
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 5px -6px/2px 6px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 5px 14px/2px 6px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat -8px 5px/6px 2px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
 }
 
 .gg-sun::after,
 .gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
 }
 
 .gg-sun::before {
  transform: rotate(-45deg)
 }
 
 .gg-sun::after {
  transform: rotate(45deg)
 } 

 .gg-moon,
 .gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%
 }
 
 .gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent
 }
 
 .gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px
 } 