// sass-lint:disable no-color-keywords; no-color-hex

// Base colors.
// $black:                  #000;
// $nearblack:              lighten($black, 20%); // #333
// $grey-dark:              lighten($black, 40%); // #666
// $grey:                   lighten($black, 60%); // #999
// $grey-light:             lighten($black, 80%); // #ccc
// $grey-extra-light:       lighten($black, 93.33%); // #eee
// $white:                  #fff;

// Palette URL: http://paletton.com/#uid=21q0E0k00kX01KQ01rK05e91p5G */

// As hex codes */

$color-primary-0: #A7A7A7;	// Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #DDDDDD;
$color-primary-3: #717170;
$color-primary-4: #2D2D2B;

$color-complement-0: #737373;	// Main Complement color */
$color-complement-1: #D7D7D7;
$color-complement-2: #989898;
$color-complement-3: #4D4D4E;
$color-complement-4: #1E1E1F;

$black:                  $color-primary-4;
$nearblack:              $color-complement-4; // #333
$grey-dark:              $color-complement-3; // #666
$grey:                   $color-primary-3; // #999
$grey-light:             $color-complement-2; // #ccc
$grey-extra-light:       $color-primary-2; // #eee
$white:                  $color-primary-1;

$blue:                   #4285f4;
$red:                    #ea4335;
$green:                  #34a853;
$yellow:                 #fbbc05;

// Colors used in the main content area.
$brand:                  $nearblack;
$brand-alt:              $grey;
$brand-dark:             $grey-dark;
$text:                   $black;
$text-bg:                $white;
$text-meta:              $grey-dark;

$link:                   $black;
$link-visited:           $black;
$link-hover:             $brand;
$link-active:            $color-primary-1;

$border:                 $grey-light;
$border-dark:            $nearblack;

$autocomplete:           $text;
$autocomplete-bg:        $text-bg;
$autocomplete-select:    $white;
$autocomplete-select-bg: $blue;

$body-bg:                $grey-extra-light;
$header-bg:              $brand;
$backdrop:               $grey-extra-light;

$mobile-menu:            $header-bg;
$mobile-menu-cover:      rgba($black, .2);

$button:                 $nearblack;
$button-disabled:        $grey;

$form-error:             $red;

$mark-highlight:         $red;
$mark-bg:                $yellow;

$menu-active:            $text;

$preview-bg:             lighten($yellow, 43%);

$row-stripe:             $white;
$row-disabled:           $grey-light;

$status:                 $green;
$status-bg:              lighten($status, 62%);
$status-highlight:       $text;
$warning:                $text;
$warning-bg:             lighten($yellow, 45%);
$warning-border:         $yellow;
$error:                  $red;
$error-bg:               lighten($error, 57%);

$watermark:              $grey-extra-light;

$headings:               $nearblack;

$code:                   $nearblack;
