{{ with .Site.Params.social_links.twitter }}
<a class="social_link" target="_blank" rel="noopener" href="https://twitter.com/{{ . }}" aria-label="Twitter profile">
  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
    <path
      d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
    </path>
  </svg>
</a>
{{ end }} {{ with .Site.Params.social_links.linkedin }}
<a class="social_link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ . }}"
  aria-label="LinkedIn profile">
  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
    <rect x="2" y="9" width="4" height="12"></rect>
    <circle cx="4" cy="4" r="2"></circle>
  </svg>
</a>
{{ end }} {{ with .Site.Params.social_links.github }}
<a class="social_link" target="_blank" rel="noopener" href="https://github.com/{{ . }}" aria-label="GitHub profile">
  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
    <path
      d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
    </path>
  </svg>
</a>
{{ end }} {{ with .Site.Params.social_links.web }}
<a class="social_link grayscale" target="_blank" rel="noopener" href="{{ . }}"
  aria-label="Google Developer expert profile">
  <svg width="42" height="42" viewBox="0 0 73 35" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
      <path d="M46.265 35c.98 0 1.974-.25 2.884-.775l20.298-11.719-14.15-5.18-11.928 6.888A5.78 5.78 0 0 0 46.265 35"
        fill="#FBBC04" />
      <path
        d="M66.552 23.281a5.775 5.775 0 0 0 5.01-2.892 5.779 5.779 0 0 0-2.114-7.894L49.15.775a5.78 5.78 0 0 0-5.78 10.011l20.298 11.72c.91.525 1.904.775 2.884.775"
        fill="#0F9D58" />
      <path d="M17.222 17.568l11.747-6.782a5.78 5.78 0 0 0-5.78-10.01L2.891 12.495l14.331 5.072z" fill="#EA4335" />
      <path
        d="M26.073 35a5.78 5.78 0 0 0 2.896-10.786L8.67 12.495A5.778 5.778 0 0 0 .777 14.61a5.78 5.78 0 0 0 2.114 7.896l20.3 11.719c.91.525 1.903.775 2.883.775"
        fill="#4285F4" />
    </g>
  </svg>
</a>
{{ end }}