{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
    <article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
        <div class="content">
            {{ .Content }}
        </div>
    </article>

    <div class="page-content">

        {{ $currentSection := .Section -}}
        {{ $currentID := "" -}}
        {{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
        {{ with .Site.GetPage "section" "resume" }}
        <a class="no-underline" href="{{ .RelPermalink }}">
            <div class="card">
                <span class="card__title">{{ .Title }}</span>
            </div>
        </a>
        {{ end }}
        {{ range .Site.Sections -}}
        <a class="no-underline" href="{{ .RelPermalink }}">
            <div class="card">
                <span class="card__title">{{ .Title }}</span>
            </div>
        </a>
        {{ end -}}
    </div>
</main>
{{ end }}