{{ define "main" -}}
<main class="main layout__main">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
        <ul class="talk-list">
            {{ range $p := .Pages.ByWeight.Reverse }}
            <li class="talk-item">
                <a class="talk-item__link" href="{{ .Permalink }}">{{ .Title}}</a>
                {{ with .Params.event_name }}
                <div class="talk-item__event-name">
                    {{ . }}
                </div>
                {{ end }}
                <div class="talk-item__date">Recorded:{{ .Date.Format "02 Jan 2006" }}</div>
                <p class="talk-item__summary">{{ .Summary }} {{if .Truncated }}<a href="{{ .RelPermalink }}">Read More…</a>{{ end }}</p>
                
                {{ with .Params.slides }}
                <a href="/slides/{{ . | relURL }}">SLIDES</a>
                {{ end }}
                <!-- {{ with .Params.video_id }}
                <div class="talk-item__video" >
                    <iframe src="https://www.youtube-nocookie.com/embed/{{ . }}" allowfullscreen title="YouTube Video"></iframe>
                </div>
                {{ end }} -->
            </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}