{{ define "main" -}}
<main class="main layout__main">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
        <div class="divider-hr divider-hr-transparent divider-hr-dot"></div>

        <ul class="talk-list">
            {{ range $p := .Pages.ByWeight.Reverse }}
            <li class="talk-item">
                <a class="talk-item__link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ with .Params.event_name }}
                <div class="talk-item__event-name">
                    {{ . }}
                </div>
                {{ end }}
                <div class="talk-item__date">Recorded:{{ .Date.Format "02 Jan 2006" }}</div>
                <div class="talk-item__summary">
                    
                    {{ .Summary }} 
                        
                    {{if .Truncated }}
                            <a href="{{ .RelPermalink }}">Read More…</a>
                        {{ end }}
                </div>
                
                {{ with .Params.slides }}
                <a class="talk-item__slides" href="/slides/{{ . | relURL }}">Slides</a>
                {{ end }}
                <div class="divider-hr-small divider-hr-transparent-small divider-hr-stop"></div>
            </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}