{{ define "main" -}}
<main class="main layout__main">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
        <ul class="talk-list">
            {{ range $p :=.Pages}}
            <li class="talk-item">
                <a class="talk-item__link" href="{{ .Permalink }}">{{ .Title}}</a>
                {{ with .Params.event_name }}
                <div class="talk-item__event-name">
                    {{ . }}
                </div>
                {{ end }}
                <div class="talk-item__date">Recorded:{{ .Date.Format "02 Jan 2006" }}</div>
                {{ with .Params.slides }}
                <a href="/slides/{{ . | relURL }}">SLIDES</a>
                {{ end }}
                {{ with .Params.video_id }}
                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                    <iframe src="https://www.youtube-nocookie.com/embed/{{ . }}"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        allowfullscreen title="YouTube Video"></iframe>
                </div>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}